/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
=============== 
Variables
===============
*/

:root {
  --bg-color: hsl(226, 43%, 10%);
  --card-bg-color: hsl(235, 46%, 20%);
  --hover-bg-color: #34397b;
  --main-text-color: #ffffff;
  --secondary-btn-text-color: hsl(235, 45%, 61%);
  --secondary-text-color: hsl(236, 100%, 87%);
  --header-intro-color: hsl(246, 80%, 60%);
  --work-tab-color: hsl(15, 100%, 70%);
  --play-tab-color: hsl(195, 74%, 62%);
  --study-tab-color: hsl(348, 100%, 68%);
  --exercise-tab-color: hsl(145, 58%, 55%);
  --social-tab-color: hsl(264, 64%, 52%);
  --selfcare-tab-color: hsl(43, 84%, 65%);
}

/*
  =============== 
  Global Styles
  ===============
  */

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  color: var(--secondary-btn-text-color);
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--main-text-color);
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--bg-color);
}

/*
  =============== 
  Mobile Styles
  ===============
  */

/*--- General Styles ---*/

h1 {
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--secondary-text-color);
}

h1 span {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--main-text-color);
}

.c-card__activity-time {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.c-container {
  width: 87%;
  display: grid;
  row-gap: 24px;
  align-items: center;
  justify-items: center;
  margin: 80px 0;
}

/*--- Intro Card ---*/

.c-intro__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg-color);
  border-radius: 15px;
}

.c-intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-intro-color);
  border-radius: 15px;
  padding: 30px 25px;
}

.c-intro__img {
  width: 25%;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.c-tabs {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.c-tabs__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.c-tabs__listitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-tabs__tab-button {
  font-size: 1.2rem;
}

.c-tabs__tab-button:hover {
  color: #ffffff;
}

.c-tabs__tab-button:active {
  color: #ffffff;
}

/*--- Activity Panels ---*/

.c-tabs__tabpanel {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 24px;
  align-items: center;
  justify-items: center;
}

.c-tabs__tabpanel--weekly,
.c-tabs__tabpanel--monthly {
  display: none;
}

.c-tabs__listing {
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  min-height: 160px;
  background-repeat: no-repeat;
  background-position: top -10px right 20px;
}

.c-tabs__listing--work {
  background-color: var(--work-tab-color);
  background-image: url("./images/icon-work.svg");
}

.c-tabs__listing--play {
  background-color: var(--play-tab-color);
  background-image: url("./images/icon-play.svg");
}
.c-tabs__listing--study {
  background-color: var(--study-tab-color);
  background-image: url("./images/icon-study.svg");
}
.c-tabs__listing--exercise {
  background-color: var(--exercise-tab-color);
  background-image: url("./images/icon-exercise.svg");
}
.c-tabs__listing--social {
  background-color: var(--social-tab-color);
  background-image: url("./images/icon-social.svg");
}
.c-tabs__listing--selfcare {
  background-color: var(--selfcare-tab-color);
  background-image: url("./images/icon-self-care.svg");
}

.c-tabs__listing img {
  margin: -10px 20px 0 0;
}

.c-card {
  width: 100%;
  min-height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg-color);
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.c-card:hover {
  background-color: var(--hover-bg-color);
}

.c-card__content-container {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  justify-content: start;
  align-items: center;
}

.c-card__activity {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.c-card__activity-time {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.c-card__activity-details {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  align-self: center;
  display: grid;
}

.c-card__activity-details img {
  justify-self: end;
  align-self: end;
  margin: 0;
}

.c-card__previous-heading {
  justify-self: end;
  align-self: center;
}
